<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610708558013-hl3lph6nlsn5ekbf8emq5adm30f553t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610708558013-hl3lph6nlsn5ekbf8emq5adm30f553t6</string>
	<key>API_KEY</key>
	<string>AIzaSyCX-V2qQtSkBHtWDAM753miI3A8T6lqnCs</string>
	<key>GCM_SENDER_ID</key>
	<string>610708558013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hongjian.TinyMeet</string>
	<key>PROJECT_ID</key>
	<string>tinymeet-b6aae</string>
	<key>STORAGE_BUCKET</key>
	<string>tinymeet-b6aae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610708558013:ios:12be158ce648586c4767d4</string>
</dict>
</plist>